@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper pagination: active 상태를 Neutral-900로 */
.intro-swiper {
  --swiper-pagination-color: #111827; /* neutral-900 */
  height: 100%;
}
.intro-swiper .swiper-pagination-bullet-active {
  @apply bg-neutral-900;
}

/* 외부 페이지네이션 컨테이너 스타일 */
.intro-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #e5e7eb; /* neutral-200 */
  opacity: 1;
  margin: 0 4px;
  border-radius: 50%;
}
.intro-pagination .swiper-pagination-bullet-active {
  background-color: #111827; /* neutral-900 */
}
